/*Search Bar*/
.searchbar-input.sc-ion-searchbar-md {
    border-radius: 10px;
    background-position: left 8px center;
    height: auto;
    font-size: 1.1rem;
    font-weight: 400;
    color: #7f8490;
    background-color: white;
    -webkit-box-shadow: 0 8px 14px rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 8px 14px rgba(0, 0, 0, 0.1) !important;
  }

  .fixedh{
    height: 200px;
    max-height: 140px;

  }