.appfooter{
    background-color: rgb(36, 37, 37);
    color: rgb(255, 255, 255);
    width: 100%;
    border-top-right-radius: 5px ;
    border-top-left-radius: 5px ;
    padding-top: 2%;
    padding-bottom: 2%;
}